extends layout

block content
  h1= `${categoryDetail.name} Category`
  a(href= categoryDetail.URL + "/delete") 
    button Delete Category
  span 
  a(href= categoryDetail.URL + "/update") 
    button Update Category 
  hr
  h3 Description:
  ul
    li= categoryDetail.desc
  hr
  h3 Item List:
  ul
    each item in categoryItemList
      li
        a(href= item.URL)= item.name